.calendarContainer {

  .selectDateBox {
    display: flex;

    .curDatetitle {
      flex: 1;
      display: flex;
      align-items: flex-end;

      .month {
        font-size: 32px;
        margin-right: 15px;
        font-weight: 100;
      }

      .year {
        font-size: 32px;
        font-weight: 100;
      }
    }

    .calendarCon {
      width: 300px;

      :global {
        .ant-picker-body {
          padding: 0;

          .ant-picker-cell {
            padding: 0;
            min-width: 10px;
            max-width: 15px;
            width: 15px;
            height: 15px;
          }
        }

        .ant-picker-content {
          height: 150px;
          width: 200px;
        }

        .ant-picker-calendar-mini {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }

  .content {
    :global {
      .ant-picker-content {
        thead tr {

          th:first-child,
          th:last-child {
            color: red;
          }
        }

        tbody tr {
          .ant-picker-cell-inner {
            margin: 0;
            padding: 0;
          }

          .ant-picker-calendar-date-value {
            text-align: left;
          }

          .ant-picker-calendar-date-content {
            height: 60px;
          }

          td:first-child,
          td:last-child {
            background-color: rgba(255, 100, 100, 0.1);
          }
        }
      }
    }
  }

}

.playDateModal {

  .dateDetailContent {
    height: 600px;
    overflow: auto;
  }

  .timedteialBox {
    width: 100%;
    display: flex;
    height: 60px;
    border-bottom: 1px solid #eee;
  }

  .leftTimeBox {
    width: 80px;
    line-height: 60px;
  }

  .rightTimeBox {
    margin-left: 10px;
    flex: 1;
    border-left: 1px solid #eee;
    line-height: 30px;
    padding-left: 10px;

    .title {
      height: 20px;
    }

    .content {
      flex: 1;
    }
  }
}