.shareBox {
  background: #000;
  max-height: 600px;
  min-height: 400px;
  overflow: auto;
  padding: 20px 15px;

  .shareItem {
    background: rgba(100, 100, 100, .3);

    .shareHedaer {
      display: flex;
      padding: 20px 10px 0;

      .shareImg {
        width: 60px;
        margin-right: 10px;

        .img {
          border-radius: 100%;
        }
      }

      .shareTitle {
        flex: 1;
        color: #fff;
      }

      .optBtn {
        margin-left: 10px;
        width: 20px;
        color: #fff;
      }

    }

    .sahredContent {
      color: #fff;
      margin-top: 10px;
      margin-bottom: 10px;

      .subTitle {
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
      }

      .shareImgs {
        display: flex;
        flex-wrap: wrap;
      }

      .shareCollect {
        color: #fff;
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid rgba(100, 100, 100, .3);
      }

      .shareOpt {
        display: flex;
        justify-content: space-around;
        color: #fff;
        height: 50px;
        line-height: 50px;
        font-weight: 600;
        border-bottom: 2px solid rgba(100, 100, 100, .3);
      }

      .commentsBox {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        margin-top: 15px;

        .comitem {
          display: flex;
          margin-top: 15px;
          margin-bottom: 15px;

          .bgCom {
            background: #fff;
            flex: 1;
            border-bottom: 6px;
            color: #333;
            margin-left: 10px;
          }
        }

        :global {
          .ant-input {
            background: rgba(100, 100, 100, .3);
            color: #fff;
            border: none;
          }


          .ant-input-group-addon {
            border: none;
            background: rgba(100, 100, 100, .3);
          }
        }

        .commenus {
          display: flex;
          color: #fff;

          div {
            margin-right: 10px;
          }
        }

        .comImgav {
          margin-right: 5px;

          .img {
            border-radius: 100%;
          }
        }
      }
    }
  }

  .loadmore {
    color: #fff;
    font-weight: 600px;
    font-size: 18px;
  }
}

.shareMoment {
  margin-top: 30px;
  position: relative;
  height: 120px;
  border-radius: 20px;
  background: rgba(0, 0, 0, .1);
  border: 1px solid rgba(5, 5, 5, .1);
  padding: 20px;
  margin-bottom: 20px;

  .shareInput {
    border-radius: 20px;
    width: 370px;
  }

  .line1 {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 3px;
    border-bottom: 2px solid rgba(5, 5, 5, 0.1);
  }

  .videoBox {
    height: 30px;
    display: flex;
    background: rgba(0, 0, 0);
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
    justify-content: space-around;
  }
}

.shareContentModal {
  .content {
    height: 400px;

    .toolsBox {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}