.applyContent {
  width: 375px;
  padding: 20px;

  .userInfo {
    display: flex;
    margin-bottom: 20px;
    align-items: center;

    .nickname {
      flex: 1;
      margin-left: 10px;
    }

    button {
      margin-right: 10px;
    }
  }

}