.chatModal {
  height: 600px;
  position: relative;

  .playContent {
    height: 500px;

    .recordList {
      overflow: auto;
      height: 400px;

      .item {
        display: flex;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;

        .avarImg {
          margin-right: 15px;

          img {
            border-radius: 100%;
          }
        }
      }

      .rightItem {
        display: flex;
        flex-direction: row-reverse;

        .avarImg {
          margin-left: 15px;
          margin-right: 0;

          img {
            border-radius: 100%;
          }
        }
      }
    }

    .footer {
      position: absolute;
      bottom: 10px;
      width: 472px;
    }
  }
}