.regist-content {
  display: flex;
  justify-content: space-between;

  .login-right {
    // width: 400px;
    // height: 500px;
    padding: 50px 100px 0 20px;
    border: solid 1px #ddd;
    margin: 100px 100px 0 20px;
    border-radius: 10px;
    box-shadow: 0 2px 25px 0 rgb(0 0 0 / 20%);

    .login-title {
      margin-bottom: 20px;
    }

    .login-btn {
      display: block;
    }
  }
}